<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite with Local and Remote Options" parallel="tests" thread-count="5">

    <!--Local Execution -->
    <!--<test name="Local Tests">
        <parameter name="runLocal" value="true" />
        <parameter name="browser" value="chrome" />
        <parameter name="platform" value="Windows 10" />
        <classes>
            <class name="com.example.browserstack.VisitWebsiteTest" />
            <class name="com.example.browserstack.ScrapeArticlesTest" />
            <class name="com.example.browserstack.TranslateHeadersTest" />
        </classes>
    </test>-->

    <!--BrowserStack Execution -->

    <!-- Chrome on Windows 10 -->
    <test name="BrowserStack - Chrome on Windows">
        <parameter name="runLocal" value="false" />
        <parameter name="browser" value="chrome" />
        <parameter name="platform" value="Windows 10" />
        <classes>
            <class name="com.example.browserstack.VisitWebsiteTest" />
            <class name="com.example.browserstack.ScrapeArticlesTest" />
            <class name="com.example.browserstack.TranslateHeadersTest" />
        </classes>
    </test>

    <!--Firefox on Windows 11" -->
  <test name="BrowserStack - Firefox on Windows">
      <parameter name="runLocal" value="false" />
      <parameter name="browser" value="Firefox" />
      <parameter name="platform" value="Windows 11" />
      <classes>
          <class name="com.example.browserstack.VisitWebsiteTest" />
          <class name="com.example.browserstack.ScrapeArticlesTest" />
          <class name="com.example.browserstack.TranslateHeadersTest" />
      </classes>
  </test>

  <!-- Edge on Windows 11 -->
    <test name="BrowserStack - Edge on Windows">
        <parameter name="runLocal" value="false" />
        <parameter name="browser" value="edge" />
        <parameter name="platform" value="Windows 11" />
        <classes>
            <class name="com.example.browserstack.VisitWebsiteTest" />
            <class name="com.example.browserstack.ScrapeArticlesTest" />
            <class name="com.example.browserstack.TranslateHeadersTest" />
        </classes>
    </test>

    <!-- Safari on iPhone 14 -->
    <test name="BrowserStack - Safari on iPhone">
        <parameter name="runLocal" value="false" />
        <parameter name="browser" value="Safari" />
        <parameter name="device" value="iPhone 14" />
        <parameter name="platform" value="16" />
        <parameter name="real_mobile" value="true" />
        <classes>
            <class name="com.example.browserstack.VisitWebsiteTest" />
            <class name="com.example.browserstack.ScrapeArticlesTest" />
            <class name="com.example.browserstack.TranslateHeadersTest" />
        </classes>
    </test>

    <!-- Chrome on Samsung Galaxy S22 -->
    <test name="BrowserStack - Chrome on Galaxy S22">
        <parameter name="runLocal" value="false" />
        <parameter name="browser" value="Chrome" />
        <parameter name="device" value="Samsung Galaxy S22" />
        <parameter name="platform" value="12.0" />
        <parameter name="real_mobile" value="true" />
        <classes>
            <class name="com.example.browserstack.VisitWebsiteTest" />
            <class name="com.example.browserstack.ScrapeArticlesTest" />
            <class name="com.example.browserstack.TranslateHeadersTest" />
        </classes>
    </test>

</suite>
